*{
    -webkit-box-sizing: border-box;
    font-family: Optima;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

html, body{
    height: 100%;
}

html body{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

a{
    color: black;
    text-decoration: none;
}

html body > *{
    height: 100%;
}

h1{font-size: 1.5em}
h2{font-size: 1.1em}

input[type=text]{
    width: 100%;
    padding: 1px 5px;
    border: none;
    background: transparent;
}

input[type=text]:active,
input[type=text]:focus{
    outline: none;
}

aside{
    display: block;
    width: 180px;
    border-right: solid 1px #656565;
    background: #DEE4EA;
    padding: 1px 0;
}

aside h2{
    color: #5F707F;
    text-shadow: 1px 1px 1px white;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    margin: 3px 0 2px 0;
}

aside ul{
    margin-bottom: 10px;
}

aside ul li{
    margin: 0;
    padding: 0px 0 0px 25px;
}

aside ul li:before{
    margin-right: 5px;
}

aside ul li.inbox:before{ content: url('../images/FocusInbox-20.png');}
aside ul li.today:before{ content: url('../images/FocusToday-20.png');}
aside ul li.next:before{ content: url('../images/FocusNextActions-20.png');}
aside ul li.scheduled:before{ content: url('../images/FocusTickler-20.png');}
aside ul li.someday:before{ content: url('../images/FocusMaybe-20.png');}
aside ul li.projects:before{ content: url('../images/FocusActivityLevel-1-20.png');}

aside ul li.active{
    border: solid 1px #A2B1C9;
    background: -webkit-gradient(linear, left top,left bottom, from(#B1BFD7), to(#8297B7));
}

aside ul li.active a{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

aside ul li a{
    vertical-align: 4px;
}

#right{
    -webkit-box-flex: 1;
    background: #B9BDC5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#right article{
    padding: 10px;
    -webkit-box-flex: 1;
}

#right article ul li{
    background: -webkit-gradient(linear, left top,left bottom, from(#FEFFFE), to(#EDEDED));
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    -webkit-border-radius: 4px;
    margin-bottom: 1px;
    padding: 3px 0;
}

#right article ul li.selected:not(.expanded){
    background: -webkit-gradient(linear, left top,left bottom, from(#E1EEFB), to(#D4E1EE));
}

#right article ul li:not(.expanded){
    cursor: pointer;
}

#right article ul li.done{
    opacity: 0.5;
}

#right article ul li.expanded{
    margin-bottom: 6px;
    margin-top: 6px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

#right article ul li.expanded dl,
#right article ul li dl.name{
    display: -webkit-box;
}

#right article ul li.expanded dl{
    border-bottom: solid 1px #E6E6E6;
    /*border-top: solid 1px white;*/
}


#right article ul li dl{
    padding: 0px 5px;
    display: none;
    -webkit-box-orient: horizontal;
}

#right article ul li dl.tags{
    height: 40px;
    background: #FAF9F0;
}

#right article ul li.expanded dl:first-child{
   border-top: none; 
}
#right article ul li.expanded dl:last-child{
   border-bottom: none; 
}

#right article ul li dd,
#right article ul li dt{
    padding: 3px;
    display: block;
}

#right article ul li dt{
    width: 10px;
    margin-right: 5px;
}
#right article ul li dd{
    -webkit-box-flex: 1;
}

#right article ul li dt img{
    display:block;
}

#right footer{
    display: block;
    height: 55px;
    background: #DDD;
    border-top: solid 1px #656565;
}

#right footer ul li{
    display:inline-block;
}
#right footer ul li a{
    padding: 4px 7px;
    display: block;
    text-align: center;
}

#right footer ul li a img{
    display: block;
}